<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- mapper 만드는 곳 -->
	<mapper namespace="com.care.mybatis.boardMapper">
	
	<!-- 게시글 리스트 -->
	<select id="board_list" resultType="Bdto">
		select * from board where cat='1' order by num desc; 
	</select>
	
	<!-- 레시피 리스트 -->
	<select id="recipeBoard_list" resultType="Bdto">
		select * from board where cat='2' order by num desc; 
	</select>
	
	
	<!-- 게시글 작성 -->
	<insert id="board_reg" parameterType="Bdto">
		insert into board(cat,num,title,nickname,hit,recommend,stars,productname,content,cvsnum,gdsimg) values(#{cat},board_num_seq.nextval,#{title},#{nickname},0,0,#{stars},#{productname},#{content},#{cvsnum},#{gdsimg, jdbcType=VARCHAR})
  	</insert>
  	
  	<!-- 게시글/레시피 클릭한것 보여주기 -->
  	<select id="board_view" resultType="Bdto">
  		select * from board where num=#{num}
  	</select>
  	
  	
  	
  	
  	
  	
  	<!-- 게시글 조회수 증가 -->
  	<update id="upHit">
  		update board set hit=hit+1 where num=#{num}
  	</update>
  	<!-- 게시글 수정 -->
  	<update id="board_modify" parameterType="Bdto">
  		update board set cvsnum=#{cvsnum}, productname=#{productname}, stars=#{stars}, title=#{title}, content=#{content}, gdsimg=#{gdsimg} where num=#{num}
  	</update>
  	<!-- 게시글 삭제 -->
  	<delete id="board_delete">
  		delete from board where num=#{num}
  	</delete>
  	
  	
  	<!-- 게시글 검색 -->
  	<select id="board_search" parameterType="Bdto" resultType="Bdto" >
  		select * from board where ${title} like '%'||#{content}||'%' and cat='1'
  	</select>
  	<!-- 레시피 게시글 검색 -->
  	<select id="recipeBoard_search" parameterType="Bdto" resultType="Bdto" >
  		select * from board where ${title} like '%'||#{content}||'%' and cat='2'
  	</select>
  	
  	<!-- 편의점별 검색 -->
  	<select id="cvs_search" parameterType="Bdto" resultType="Bdto" >
  		select * from board where cvsnum=#{cvsnum}
  	</select>
  	
  	
  	<!-- 가격 가져오기 -->
  	<select id="board_price" resultType="int">
		select price from cvs where productname=#{productname} and cvsnum=#{cvsnum}
  	</select>
  	<!-- 좋아요 -->
  	<insert id="board_heart" parameterType="Bdto">
		insert into heart values(#{num},#{nickname})
	</insert>
	<!-- 좋아요 취소 -->
	<delete id="board_unheart" parameterType="Bdto">
		delete from heart where bnum=#{num} and nickname=#{nickname}
	</delete>
	<!-- 좋아요 여부 체크 -->
	<select id="board_heartChk" parameterType="Bdto" resultType="int">
		select * from heart where bnum=#{num} and nickname=#{nickname}
	</select>
	<!-- 게시판별 좋아요 개수 -->
	<select id="board_heartCnt" resultType="int">
		select count(*) from heart where bnum=#{bnum}
	</select>

	<!-- 토탈페이지 -->
	<select id="board_getTotalPage" resultType="int">
		select count(*) from board where cat='1' 
	</select>
	
	<!-- 레시피페이지 토탈페이지 -->
	<select id="recipeBoard_getTotalPage" resultType="int">
		select count(*) from board where cat='2' 
	</select>
	
	<!-- 페이징 리스트 가져오기 -->
	<select id="board_pagingList" parameterType="Pdto" resultType="Bdto">
		select B.* from(select rownum rn, A.* from (select * from board where cat='1' order by num desc)A)B where rn between #{startPage} and #{endPage}
	</select>
	
	<!-- 레시피 페이징리스트 가져오기 -->
	<select id="recipeBoard_pagingList" parameterType="Pdto" resultType="Bdto">
		select B.* from(select rownum rn, A.* from (select * from board where cat='2' order by num desc)A)B where rn between #{startPage} and #{endPage}
	</select>
	
	
	<!-- 상품이미지 가져오기 -->
		<select resultType="String" id="board_productimg">
			select gdsimg from cvs c where c.cvsnum = #{cvsnum} and c.productname = #{productname}
		</select>
  	<!-- 자동완성  -->
  	<select id="productname_autocomplete" resultType="String" parameterType="int">
  		select productname from cvs where cvsnum=#{cvsnum}
  	</select>
  	
  	<!-- 관리자 상품등록 -->
<insert id="adminPost" parameterType="com.care.dto.CvsDTO">
	insert into cvs(cvsnum,productnum,productname,price,gdsimg) values(#{cvsnum},#{productnum},#{productname},#{price},#{gdsimg})
</insert>
	</mapper>