@charset "UTF-8";
/*공통으로 들어가는 부분*/
	* {margin: 0;padding: 0;box-sizing: border-box;}
	a, a:hover{text-decoration: none; color: #222;}
	ul {list-style: none;}
	#wrap {height: auto; width: 80%; min-width:400px; margin: 0 auto;}
	
	table {border-spacing: 0; border-collapse: collapse;}
	td, th {padding: 0;}
	article, aside, details, figcaption, figure, footer, header, hgroup,main, menu, nav, section, summary {display: block;}

	/*header*/
	header{height: auto; overflow: hidden; /*background-color: aqua;*/}
      header li {display:inline-block; margin: 0;}
      header hr{margin-top: 8px; clear:both;
          border:0; background-color: #808080; height: 2px; }
      
      /*top메뉴*/
      #top{
          /*background-color: cornflowerblue;*/ text-align: right;
          height: 30px;   line-height: 30px;       
      }
    
      #top li a{display: block; padding: 0 10px;}
      #top li a:hover{color: #ff9999;}
      
      /*로고*/
      #logo{width: 200px; height: 120px; margin: 50px auto 20px; text-align: center;
          /* line-height:120px; font-size: 20px; */
          background: url('../resources/img/logo.png')  no-repeat center; background-size: contain;
      }
      #logo .logo{display: block; width:100%; height: 100%; }
      
      /* 실시간검색  */
	  #search_aside{
	  	width:150px;
	  	position: absolute;
	  	right: 0px; top:50px;
	  }
  
  
      /*주메뉴-편의점이름*/
      #nav{
          background-color: #ffcccc; height: 42px;width: 105%;
          position: relative; left: -99%; transition: 0.3s;
          border-radius: 0 5px 5px 0; box-sizing:border-box;
          border:1px solid #ff9999;
      }
      
      #nav ul{width: 90%; height: 42px; overflow: hidden; float: left; margin-left: 4%; position: relative; top:-1px;}
      #nav ul li{width: 20%;  float: left;  box-sizing: border-box;}
      #nav ul li a{display: block; width:100%; height: 42px;  float:right;
          text-align: center; line-height: 42px; transition: all 0.5s;}
      #nav ul li a:hover{background-color:#aaa; color:#fff; }
      
      #nav button{ float: left; width: 6%; height: 42px;  position: relative; top:-1px;
          border:0; border-radius: 0 5px 5px 0; cursor:pointer;
      background-color: rgba(0,0,0,0); color: #808080;}
      
      /*contents*/
      #contents{overflow: auto; min-height:700px;   padding-bottom: 40px;}
      
      
      /*footer*/
      footer{background-color: #808080;
     /*  position:fixed; bottom:0; */
           width: 100%; 
          height: 36px;
      }
      footer p{color:#fff; text-align: center; line-height: 36px; margin-bottom: 0;}