@charset "UTF-8";

.masthead-text {
	height: 300px;
}

.form-control {
	height: 50px;
}

.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
	font-size: 12px
}

#login-dp .social-buttons {
	margin: 12px 0
}

#login-dp .social-buttons a {
	width: 49%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc
}

.btn-tw {
	color: #fff;
	background-color: #55acee;
}

.btn-tw:hover {
	color: #fff;
	background-color: #59b5fa;
}

@media ( max-width :768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}

body {
	font-family: 'Lato', sans-serif;
}

.progress {
	height: 5px;
}



.modal {
	text-align: center;
	padding: 0 !important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.divider {
	position: absolute;
	height: 2px;
	border: 1px solid #eee;
	width: 100%;
	top: 10px;
	z-index: -5;
}

.ex-account {
	position: relative;
}

.ex-account p {
	background-color: rgba(255, 255, 255, 0.41);
}

select:hover {
	color: #444645;
	background: #ddd;
}

.block-help {
	font-weight: 300;
}

.mar-top-bot-50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.hide {
	display: none;
}


.form-btn_btn {
	background-color: #ffcccc; 
	color: #808080; 
	border:none;
	height: 50px;
	border-radius: 10px;
}
.form-btn_btn:hover {
	background-color: #ff9999; 
	color: #fff; 
}

/* 테이블 */
table {
	max-width: 100%;
	background-color: transparent
}

/*테이블 짝수 홀수 줄 배경주기 */
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
	background-color: #f9f9f9
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color: #f5f5f5
}

.table {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	table-layout: fixed;
	white-space: nowrap;
}
.table>thead {
	background-color: #ff9999;
}

.table thead>tr>th, .table tbody>tr>td {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 1px solid #ddd
}

.table thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ff9999;
	table-layout: fixed;
	white-space: pre-wrap;
}

.table thead>tr>th, .table tbody>tr>td {
	border:1px solid #ddd;
	
}
.table-list thead th{
	border:none;
}

/* 말줄임표 */
.table td{
	pdisplay: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-outline-secondary{
	color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    height: 50px;
}
.btn-outline-secondary:hover {
	color: #fff;
    background-color: #6c757d;
    background-image: none;
    border-color: #6c757d; 
}
/* 페이지 제목 */
h2{margin-bottom:20px;padding:20px;}

/* 메뉴 */
.mymenu_div{width:80%; height:50px; margin:0 auto;}
.myMenu {padding:0; margin: 0; width: 100%; height: inherit; border-radius: 10px 10px 0 0; overflow: hidden;}
.myMenu li {float:left; width:33.333%;  height: inherit;}
.myMenu li button{display:block; width:100%; height:100%; 
					text-align: center; line-height:50px; background-color:#ffcccc;
					border:none; transition:0.3s; cursor:pointer; 
}
.myMenu li button:hover{color:#fff; background-color:#666; }
.myMenu li button.active{color:#fff; background-color:#808080;}

.sec_content{clear:both; margin: 0 auto; width:90%; min-width:320px;
		padding:20px 15px; display:none;
		 border: 2px solid #808080; border-radius: 10px;}
.sec_content:first-of-type{display: block;}



/* 하위메뉴 */
.list_select_ul {padding:0; margin: 0; width: 80%; height: 40px; }
.list_select_ul li {float:left; width:45%;  height: inherit;}
.list_select_ul li:first-of-type {margin-right: 10%;}

.list_select_ul li button{display:block; width:100%; height:100%; 
					text-align: center; line-height:40px; background-color:#ffdddd;
					border-radius:10px; color:#aaa;
					border:none; transition:0.3s; cursor:pointer; 
}
.list_select_ul li button:hover{color:#fff; background-color:#ff6666; }
.list_select_ul li button.active{color:#fff; background-color:#ff9999;}

.art_content{clear:both; margin: 0 auto; width:100%; min-width:320px;
		padding:20px 15px; display:none;
		}
.art_content:first-of-type{display: block;}








/* 소제목 */
h3{display:none;}

/* 회원정보 */
.info_div{
	width:50%; margin:0 auto;
	overflow:hidden;
}
.form-btn{
	
	width:50%; float:left;
	padding-left:5px;
}
.form-btn .form-btn_btn{
	width:100%; 
	border-radius: 5px;	
}


#categoryForm{
	text-align: left; margin-bottom: 10px;
}


/*브라우저에 색상 적용하기*/
.form-control:-moz-placeholder { color: #999}
.form-control::-moz-placeholder { color: #999}
.form-control:-ms-input-placeholder { color: #999}
.form-control::-webkit-input-placeholder { color: #999}

/* input-group */
.input-group {
	position: relative;
	
	margin:0 auto 26px;
	height: 56px;	
}

/* 댓글 페이징 */
#remo{display:block; margin-bottom:16px; 
height: 24px; line-height: 24px; color: #999;}

/* 페이징 번호 */
.page-number{ margin:0 3px;}
.clickable {cursor: pointer;}
.clickable:hover {text-decoration: underline;}
.actived{ color:#ff9999; font-size: 1.5em;}

/* 사진업로드 게시글 표시하기*/
.contentimg {
	width: 13px;
    height: 12px;
     background: url('../resources/img/ico-img.gif') 0 0 no-repeat;
     border: 0px;
}
/* new */
.new {color:red;}
/* best 깜빡임 */
.hit {
	animation-name: blink;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes blink {
	from {color: white; font-weight: bold;}
	30% {color: yellow; font-weight: bold;}
	to {color: red; font-weight: bold;}
}


